@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Century-Gothic'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local('Century-Gothic'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Century-Gothic'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: local('Century-Gothic'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MPLUSRounded1c';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('Century-Gothic'),
        url('../fonts/MPLUSRounded1c-Thin.ttf') format('truetype');
}
