@import "normolize.css";
@import "fonts.scss";
@import "variables.scss";
@import "components/components";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  color: var(--text);

  &.scroll-block {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px; /* Avoid width reflow */
  }
}

.container {
  max-width: 2560px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

