:root {
  --primary: #FF7800;
  --primary-hover: #FF9501;
  --primary-opacity: rgba(255, 120, 0, 0.8);
  
  --primary-bg: #FFFFFF;
  --accent-bg: #1D252D;
  --feedback-bg: rgba(255, 120, 0, 0.1);
  --footer-bg: #24282C;

  --text: rgb(29, 37, 45);
  --text-accent: rgb(255, 255, 255);

  --outline: #462000;
}
