.articles {
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 108px;

  @media screen and (max-width: 576px) {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 80px;
  }
}

.articles__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.articles-item__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.articles-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;

  @media screen and (max-width: 992px) {
    line-height: 32px;
  }

  @media screen and (max-width: 576px) {
    font-size: 14px;
    line-height: 24px;
  }
}