.main-header {
  position: relative;
  height: 82px;
  padding-top: 16px;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 480px;
    background-color: rgba(255,255,255,.7);
    z-index: -1;
  }

  &::before {
    background-image: image-set(
      url('../../img/background_x3.avif') type('image/avif') 3x,
      url('../../img/background_x2.avif') type('image/avif') 2x,
      url('../../img/background.avif') type('image/avif') 1x,
      url('../../img/background_x3.webp') type('image/webp') 3x,
      url('../../img/background_x2.webp') type('image/webp') 2x,
      url('../../img/background.webp') type('image/webp') 1x,
      url('../../img/background_x3.jpg') 3x,
      url('../../img/background_x2.jpg') 2x,
      url('../../img/background.jpg') 1x,
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
  }

  @media screen and (max-width: 396px) {
    height: 60px;
  }
}

.main-header__background-line {
  position: fixed;
  top: 16px;
  right: 0;
  display: block;
  height: 66px;
  width: 0;
  background-color: var(--primary);
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
  transition: width .2s;
  z-index: 10;

  @media screen and (max-width: 396px) {
    height: 52px;
  }
}

.main-header--fixed {
  padding-top: 0;

  .main-header__background-line {
    top: 0;
    width: 100%;
  }
  
  .main-header__inner {
    position: fixed;
  }

  .main-header__title {
    transform: scale(.9);
  }

  .main-header__link {
    background-image: url('../../img/icons/lock--white.png');
    color: var(--text-accent);
  }
}

.main-header__inner {
  position: relative;
  display: flex;
  align-items: center;
  height: 66px;
  width: 100%;
  padding-left: 24px;
  z-index: 11;

  @media screen and (max-width: 576px) {
    padding-left: 8px;
  }

  @media screen and (max-width: 396px) {
    height: 52px;
  }
}

.main-header__title {
  font-family: MPLUSRounded1c;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
  transition: transform .3s;

  @media screen and (max-width: 576px) {
    font-size: 15px;
    line-height: 18px;
  }
}

.main-header__tel {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: calc(28px + 16px);
  white-space: nowrap;
  background-repeat: no-repeat;
  background-image: url('../../img/icons/call_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: 18px 18px;
  background-position: left 8px center;
  transition: background-color .2s ease-in-out;
  background-color: var(--primary-bg);
  color: var(--primary);

  &:hover {
    background-color: var(--accent-bg);
  }

  @media screen and (max-width: 576px) {
    font-size: 18px;
    padding-right: 8px;
    padding-left: calc(24px + 8px);
  }
}

.main-header__link {
  display: block;
  color: var(--text);
  padding-left: 48px;
  background-image: url('../../img/icons/lock.png');
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  transition: color .2s;

  @media screen and (max-width: 576px) {
    background-size: 32px 32px;
    padding-left: 40px;
  }

  @media screen and (max-width: 396px) {
    width: 32px;
    overflow: hidden;
  }
}

.main-header__menu-trigger {
  display: none;
  position: relative;
  width: 66px;
  height: 66px;
  padding: 10px 12px;
  background-color: var(--primary-bg);

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    width: 40px;
    height: 5px;
    background-color: var(--primary);
    border-radius: 5px;
    transform: translate(-50%,-50%);
    transition: transform .24s;
  }

  &::before {
    top: 39%;
  }

  &::after {
    top: 62%;
  }

  @media screen and (max-width: 992px) {
    display: block;
  }

  @media screen and (max-width: 396px) {
    width: 52px;
    height: 52px;

    &::before,
    &::after {
      width: 32px;
      height: 4px;
      border-radius: 4px;
    }
  }
}

.main-header__menu-trigger--opened {
  background-color: var(--mobile-menu-bg);
  
  &::before,
  &::after {
    top: 50%;
  }
  
  &::before {
    transform: translate(-50%,-50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%,-50%) rotate(45deg);
  }
}