.main {
  height: 390px;
}

.main__inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 60px;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 100px;
}

.main__left {
  width: 60%;
}

.main__right {
  width: 40%;
}

.main__title {
  font-size: 42px;
  font-weight: 800;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 0;
}

.call-link {
  display: block;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  width: 100%;
  margin-bottom: 16px;
  padding: 40px;
  white-space: nowrap;
  background-color: var(--primary-opacity);
  transition: text-shadow .2s ease;
  color: var(--text-accent);

  &:hover {
    text-shadow: 3px 4px 20px rgba(0,0,0,.3);
  }
}

.call-link__number {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}

.main__callback {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--primary-opacity);
  color: var(--text-accent);

  &:hover {
    background-color: var(--primary);
  }
}
