.work-types {
  padding-top: 80px;
  margin-bottom: 80px;
}

.work-types__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4%;
  list-style: none;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 0;
  margin-bottom: 0;
}
