.workflow__inner {
  height: 700px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;

  @media screen and (max-width: 992px) {
    height: 560px;
  }

  @media screen and (max-width: 768px) {
    height: auto;
  }

  @media screen and (max-width: 576px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.workflow__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.step-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  height: calc(100% - 40px - 60px);
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    height: auto;
  }

  @media screen and (max-width: 576px) {
    gap: 28px;
  }
}

.step-list__link {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  color: var(--text);
  z-index: 1;
}

.step-list__item {
  position: relative;
  font-size: 32px;
  padding: 40px;
  min-height: 400px;
  align-self: center;
  flex-grow: 1;
  box-shadow: 0 0 15px 1px #cfcfcf;

  &:first-child {
    transform: translateY(-48px);

    &::before {
      content: '1';
    }
  }

  &:last-child {
    transform: translateY(48px);

    &::before {
      content: '3';
    }

    &::after {
      height: 90px;
      bottom: 68px;
      left: 10px;
      right: 8px;
      width: auto;
      background-image: none;
      border: solid 2px var(--primary);
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -48px;
    width: 100%;
    height: 320px;
    background-image: url('../../img/icons/arrow.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::before {
    content: '2';
    position: absolute;
    font-size: 44px;
    font-weight: 600;
    left: 50%;
    bottom: 88px;
    color: var(--primary);
  }

  @media screen and (max-width: 1200px) {
    font-size: 24px;
    min-height: 320px;

    &::before {
      left: 46%;
    }
  }

  @media screen and (max-width: 992px) {
    font-size: 18px;
    min-height: 240px;
    padding: 24px;

    &::before {
      font-size: 36px;
      bottom: 52px;
    }

    &::after {
      height: 240px;
    }

    &:last-child {
      &::after {
        bottom: 28px;
      }  
    }
  }

  @media screen and (max-width: 768px) {
    min-height: auto;
    padding-right: 64px;

    &::after {
      height: 100%;
      width: 60px;
      left: auto;
      right: 0;
      bottom: auto;
      top: 50%;
      transform: translateY(-50%) rotate(90deg) scale(1.5);
    }

    &::before {
      font-size: 20px;
      bottom: auto;
      top: 50%;
      left: auto;
      right: 25px;
      transform: translateY(-50%);
    }

    &:first-child {
      transform: none;
    }

    &:last-child {
      transform: none;

      &::after {
        height: 32px;
        right: 11px;
        left: auto;
        width: 40px;
        border-width: 1px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    font-size: 16px;
    
    &::after {
      height: 40px;
    }
  }
}
